<div class="row">
    <div class="col-2">
      <button class="button"  onclick="decrease()">
        <span class="material-icons mt-1">
          remove
        </span>
      </button>
    </div>
    <div class="col-1 mt-1">
      <label id="qty">1</label>
    </div>
    <div class="col-2">
      <a href="" type="button">
        <span class="material-icons mt-1">
          add_circle
        </span>
      </a>
    </div> 
    <div class="col-7 d-flex col justify-content-end">
      <button type="button" class="btn btn-outline-primary">Add to Cart</button>
    </div>
</div>